.wp-block-chairforce-icon-box {
	display: flex;
	width: 100%;
	min-width: 0;

	&.is-icon-left {
		flex-direction: row;
	}

	&.is-icon-right {
		flex-direction: row-reverse;
	}

	&.is-icon-top {
		flex-direction: column;
	}

	&.is-align-start {
		align-items: flex-start;
	}

	&.is-align-center {
		align-items: center;
	}

	&.is-align-end {
		align-items: flex-end;
	}

	> .wp-block-outermost-icon-block {
		flex-shrink: 0;
	}

	> .wp-block-group {
		flex: 1;
		min-width: 0;
	}
}
