/*!******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src-jsx-blocks/tag/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************/
/**
 * IMPORTANT: This file should not never declare any CSS rules, it should only contain variables and settings.
 * TODO: Read Note above!
 */
/**
 * Breakpoints
 */
/**
 * Colours for Theme
 * (Ideally, these should be css variables created with theme.json
 */
/**
 * Theme.json Set Color Variables
 */
/**
 * Card related settings
 */
/**
 * Misc.
 */
:where(.wp-block-chairforce-tags) {
  display: flex;
  flex-wrap: wrap;
}

:where(.wp-block-chairforce-tag) {
  display: inline-block;
  margin: 0;
  font-size: var(--wp--preset--font-size--x-small);
}

.wp-block-chairforce-tag .cf-tag__label {
  display: inline-block;
  margin: 0;
  padding: var(--wp--preset--spacing--tag-y) var(--wp--preset--spacing--x-small);
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  font-family: var(--wp--preset--font-family--primary);
  font-size: 1em;
  font-style: normal;
  font-weight: var(--wp--custom--font-weight--semi-bold);
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
.wp-block-chairforce-tag .cf-tag__label:where(h1, h2, h3, h4, h5, h6, p) {
  font-family: inherit;
  font-style: inherit;
  font-size: 1em;
}

.wp-block-chairforce-tag.is-style-sale:not(.has-text-color) .cf-tag__label {
  color: var(--wp--preset--color--white);
}

.wp-block-chairforce-tag.is-style-sale:not(.has-background) .cf-tag__label {
  background-color: var(--wp--preset--color--secondary);
}

.wp-block-chairforce-tag.is-style-best:not(.has-text-color) .cf-tag__label {
  color: var(--wp--preset--color--white);
}

.wp-block-chairforce-tag.is-style-best:not(.has-background) .cf-tag__label {
  background-color: var(--wp--preset--color--primary);
}

.wp-block-chairforce-tag.is-style-stock:not(.has-text-color) .cf-tag__label {
  color: var(--wp--preset--color--white);
}

.wp-block-chairforce-tag.is-style-stock:not(.has-background) .cf-tag__label {
  background-color: var(--wp--preset--color--tertiary);
}

.wp-block-chairforce-tag.is-style-new:not(.has-text-color) .cf-tag__label {
  color: var(--wp--preset--color--background);
}

.wp-block-chairforce-tag.is-style-new:not(.has-background) .cf-tag__label {
  background-color: var(--wp--preset--color--body);
}

.wp-block-chairforce-tag:not(.is-style-best):not(.is-style-stock):not(.is-style-new):not(.has-text-color) .cf-tag__label {
  color: var(--wp--preset--color--white);
}

.wp-block-chairforce-tag:not(.is-style-best):not(.is-style-stock):not(.is-style-new):not(.has-background) .cf-tag__label {
  background-color: var(--wp--preset--color--secondary);
}
