/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src-jsx-blocks/product-card/editor.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
.wp-block-chairforce-product-card,
.wp-block-chairforce-product-card * {
  pointer-events: none;
}

.wp-block-chairforce-product-card > div:has(.wp-block-chairforce-product-card) {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
