/**
 * TODO: CSS specificity Rules HERE!!!
 */
//.blokki-card.hentry {
//  @include cardImageZoom;
//
//  .wp-block-briks-post-type {
//    @include cardSingleTaxonomyTerm;
//  }
//}

/**
 * TODO: CSS specificity Rules HERE!!!
 */
//.accordion-cell.hentry.status-publish {
//
//  border-bottom: 1px solid $color-body;
//
//  .accordion-icon {
//    color: $color-primary;
//  }
//
//  .accordion-button {
//    font-size: $font-size-large;
//  }
//
//  .card-readmore {
//    margin-block-start: $spacing-large;
//    margin-block-end: $spacing-x-large;
//    text-align: right;
//  }
//}

/**
 * Featured Cards
 */
//.wpgb-card.featured-card .blokki-card,
//.blokki-card.featured-card {
//  @include featuredCard;
//}

.card-two-columns {

  @include breakpoint-medium-up{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: $spacing-x-small;
  }

}


