*.log
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

composer.lock
package-lock.json

node_modules/
src/*
!src/assets/
config-dev/

chairforce.zip
chairforce-*.zip

.gitignore
.npmignore

.idea/
.DS_Store
Thumbs.db

