.cf-showroom-locator-editor {
	.cf-showroom-locator-editor__placeholder {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--small);
		justify-content: center;
		min-height: 8rem;
		padding: var(--wp--preset--spacing--medium);
		text-align: center;
	}

	.cf-showroom-locator-editor__placeholder--error {
		color: var(--wp--preset--color--secondary);
	}
}
