.cf-card-actions .cf-quick-view-button-editor {
	display: block;
}

.cf-quick-view-button-editor {
	display: flex;
	justify-content: flex-end;
}

.cf-quick-view-button-editor .cf-quick-view-trigger {
	pointer-events: none;
}
